/* .edit {
    color: darkgreen;
} */

/* {style["edit-form"]} */

.edit-btn, .delete-btn, .nav-btn {
    background-color: transparent;
    border: none !important;
    color: white;
}

.each-todo {
    margin: 4% auto;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #17566c;
    color: #fff;
    justify-content: space-evenly;
    width: 88%;
}

.each-todo p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.strike-text {
    text-decoration: line-through;
}

.priority-btn {
    border-radius: 5px;
    border: none;
    padding: 4px;
    background-color: aliceblue;
}