body {
  margin: 0;
  font-family: 'Roboto Slab' ,serif !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #d3fffb;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container h1 {
  letter-spacing: 10px; 
  text-align: center;
}


